/* a{
    text-decoration-thickness: 1px;
    text-decoration-color:red ;
    transition: color 2s, text-decoration-color 1500ms;
    text-decoration-style: wavy;
    text-decoration-skip-ink: none;
    
    text-decoration-line: line-through;  
    text-underline-offset: 1em;

}
a:focus, 
a:hover{
  text-decoration-color: blue;  
} */
 
